<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Initiative Tracker - Spieler</title>
    <link rel="stylesheet" href="/initiativeTracker/css/output.css">


    
  </head>
  <body>
    <header>
      <h1>Initiative Tracker</h1>
      <div class="user-menu">
        <a href="/initiativeTracker/users/login.html" id="loginButton">Login</a>
    </div>
    <div class="user-menu">
      <span id="userName">Willkommen, Benutzer!</span>
      <a href="#" id="logoutButton">Logout</a>
  </div>
    </header>
    <main>
      <div id="initiative-list">
        <!-- Dynamische Anzeige der Initiative -->
      </div>
    </main>
    <footer>
      <p>Designed für das E-Team </p>
    </footer>
    </script>
    <script src="../script.js"></script>

  </body>
</html>